<launch>
    <arg name="launch_map"    default="true"                            />
    <arg name="map_yaml_path" value="$(optenv MAP_YAML_PATH /maps/map.yaml)" />

    <node name="move_base" pkg="move_base" type="move_base" output="screen">
        <rosparam file="/config/costmap_common_params.yaml"       command="load" ns="global_costmap"/>
        <rosparam file="/config/costmap_common_params.yaml"       command="load" ns="local_costmap" />
        <rosparam file="/config/local_costmap_params.yaml"        command="load"                    />
        <rosparam file="/config/global_costmap_params.yaml"       command="load"                    />
        <rosparam file="/config/dwa_local_planner_params.yaml"    command="load"                    />
        <rosparam file="/config/move_base_params.yaml"            command="load"                    />
        <rosparam file="/config/global_planner_params.yaml"       command="load"                    />
        <rosparam file="/config/navfn_global_planner_params.yaml" command="load"                    />

        <param name="DWAPlannerROS/global_frame_id"   type="string" value="vision" />
        <param name="local_costmap/global_frame"      type="string" value="vision" />

        <param name="global_costmap/robot_base_frame" type="string" value="body" />
        <param name="local_costmap/robot_base_frame"  type="string" value="body" />

        <remap from="map" to="/map" /> <!-- just in case there's any goofy namespacing going on -->
    </node>

	<node pkg="gmapping" type="gmapping" name="gmapping" output="screen">
		<param name="base_frame_id" type="string" value="base_link" />
		<param name="odom_frame_id" type="string" value="vision"      />
	</node>
</launch>
